.sidebar {

  height: 100%;
  overflow-y: auto;
  .ant-menu{
    background-color: hsla(0, 0, 100%, 0.16)!important;
  
  }
  
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{

    background-color: hsla(18, 0, 100%, 0.16)!important;
  }

}