.summary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    .cardbox {
        h2 {
            font-size: 2rem;
            font-family: fz;
            color: whitesmoke;
        }
        h1 {
            font-size: 3.5rem;
            font-family: fz;
            color: whitesmoke;
        }
        .ant-card-body {
            justify-content: space-around;
            display: flex;
            flex-direction: row !important;
            align-items: center;
            flex-wrap: nowrap;
            background: rgba(24, 144, 255, 0.2) !important;
            height: 100%;
        }
        .ant-card {
            background: transparent !important;
        }
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 55%;
    }
}