.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .main-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: url("../../assets/img/bg1049a.png");
    }

    .login-box {
        position: relative;
        width: 420px;
        padding: 24px;
        background-color: #ffffff66;
        border-radius: 8px;
        overflow: hidden;

        .blur-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
            background-color: rgba(149, 60, 231, 0.1);
            background-image: url("../../assets/img/bg1049a.png");
            -webkit-filter: blur(15px) brightness(110%);
            filter: blur(15px) brightness(110%);
        }

        .login-content {

            position: relative;
            z-index: 2;

            .ant-input,
            .ant-input-affix-wrapper {
                background-color: transparent !important
            }
        }

        h1 {
            font-size: 40px;
            color: #520ad8;
            text-align: center;
            font-family: fz;

            &::placeholder {
                color: rgb(158, 29, 245);
            }
        }

        button {
            margin: 8px 20px 0;
            color: white;
            background: rgba(255, 255, 255, 0.3);
            border: none;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            transition: 0.4s;

            &::before,
            &::after {
                content: "";
                display: block;
                width: 80px;
                height: 100%;
                background: rgba(149, 60, 231, 0.4);
                opacity: 0.8;
                position: absolute;
                left: 0;
                top: 0;
                transform: skewX(-10deg);
                filter: blur(30px);
                overflow: hidden;
                transform: translateX(-100px);
            }

            &::after {
                width: 40px;
                background: rgba(28, 93, 233, 0.4);
                left: 60px;
                filter: blur(5px);
                opacity: 0;
            }

            &:hover {
                background: rgba(157, 33, 240, 0.3);

                &::before,
                &::after {
                    transition: 1s;
                    transform: translateX(320px);
                    opacity: 0.8;
                }
            }
        }
    }


}