html {
    font-size: 10px;
    min-width: 640px;
}

a {
    color: inherit;
    text-decoration-line: none;
}

a:active {
    color: inherit;
    text-decoration-line: none;
}

body {
    display: block;
    margin: 0px;
}