
@font-face {
    font-family: fz;
    src: url("../../../assets/mainfont.ttf");
  }
  .header {
    text-align: center;
    padding: 2rem 0 6rem;
    background-color: palevioletred;
  }
  h1,
  h2,
  h3 {
    color: powderblue;
    font-family: fz;
  }
  
  h1 {
    font-size: 8rem;
    letter-spacing: 20px;
  }
  h2 {
     font-size: 2.4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  
  
 