.manager-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url(../../assets/img/f96020a07eee1760bc0b766a81df4675.png);

  .manager-body {
    display: flex;
    flex: 1;
    overflow: hidden;

    .manager-content {
      flex: 1;
      padding: 20px;
      overflow: auto;
    }
  }
}